<!DOCTYPE HTML>
<html>
	<head>
		<title>Leftovers | Home</title>
		<meta charset="UTF-8"/> 
		<link rel="icon" href="images/avatarfavicon.png" type="image/gif">
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		<link rel="stylesheet" href="stylesheets/home/assets/css/main.css" />
		<noscript><link rel="stylesheet" href="stylesheets/home/assets/css/noscript.css" /></noscript>
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css" integrity="sha384-rwoIResjU2yc3z8GV/NPeZWAv56rSmLldC3R/AZzGRnGxQQKnKkoFVhFQhNUwEyJ" crossorigin="anonymous">
	</head>
	<body class="is-loading">
		<!-- Wrapper -->
			<div id="wrapper">

				<!-- Main -->
					<section id="main">
						<header>
							<span class="avatar"><img src="images/avatar.jpg" alt="" /></span>
							<h1>Leftovers</h1>
							<p>¿Qué comemos hoy?</p>
						</header>
						<footer>
							<ul class="icons">
								<li><div class="input-group">
									  <span class="input-group-btn">
										<button  id="buttonCon" class="btn btn-secondary" type="button" value="1">Buscar!</button>
									  </span>
									  <input type="text" class="form-control" placeholder="Ingredientes..."
									</div>
								</li>
								</br>
								<li><a href="#" class="fa-camera">Buscar</a></li><br>
								<li><button class="btn btn-secondary" id="buttonSin" type="button" value="2">No quiero buscar por ingrediente</button></li>
							</ul>
						</footer>
					</section>

				<!-- Footer -->
					<footer id="footer">
						<ul class="copyright">
							<li>Daniel Ortiz</li><li>Sergio González</li><li>Alicia Merayo</li><li>Disponible en: <a href="https://github.com/daniOrtiz11/Leftovers">Github</a></li>
						</ul>
					</footer>

			</div>

		<!-- Scripts -->
	<script>
		if ('addEventListener' in window) {
			window.addEventListener('load', function() { document.body.className = document.body.className.replace(/\bis-loading\b/, ''); });
			document.body.className += (navigator.userAgent.match(/(MSIE|rv:11\.0)/) ? ' is-ie' : '');
		}

	$( "#buttonSin" ).click(function() {
		window.location = '/principal?modo=' + 2;
	});
	$( "#buttonCon" ).click(function() {
		window.location = '/principal?modo=' + 1;
	});
	</script>

	</body>
	
	<!--
	Based on the template of:
	html5up.net | @ajlkn
	Free for personal and commercial use under the CCA 3.0 license (html5up.net/license)
	-->
</html>