<!DOCTYPE HTML>
<html>
	<head>
		<title>Leftovers | Home</title>
		<meta charset="UTF-8"/> 
		<link rel="icon" href="images/avatarfavicon.png" type="image/gif">
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		<link rel="stylesheet" href="stylesheets/home/assets/css/main.css" />
		<link rel="stylesheet" href="stylesheets/home/assets/css/modal.css" />
		<noscript><link rel="stylesheet" href="stylesheets/home/assets/css/noscript.css" /></noscript>
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css" integrity="sha384-rwoIResjU2yc3z8GV/NPeZWAv56rSmLldC3R/AZzGRnGxQQKnKkoFVhFQhNUwEyJ" crossorigin="anonymous">
		<!-- First, include the Webcam.js JavaScript Library -->
		<script type="text/javascript" src="./webcam.min.js"></script>
												<!-- Configure a few settings and attach camera -->
	</head>
	<body class="is-loading">
		<!-- Wrapper -->
			<div id="wrapper">

				<!-- Main -->
					<section id="main">
						<header>
							<span class="avatar"><img src="images/avatar.jpg" alt="" /></span>
							<h1>Leftovers</h1>
							<p>¿Qué comemos hoy?</p>
						</header>
						<footer>
							<ul class="icons">
								<li><div class="input-group">
									  <span class="input-group-btn">
										<button  id="buttonCon" class="btn btn-secondary" type="button" value="1">Buscar!</button>
									  </span>
									  <input type="text" class="form-control" placeholder="Ingredientes..."
									</div>
								</li>
								</br>
								<li><a id="myBtn href="#" class="fa-camera" onclick="blockModal()">Buscar</a></li><br>
								<div id="myModal" class="modal">
								  <!-- Modal content -->
								  <div class="modal-content">
									<span class="close">&times;</span>
										<div id="my_camera"></div><br>
										<form id="photo">
											<input type=button value="Hacer foto" onClick="take_snapshot()">
										</form>
										<div id="answer" style=display:none>
											<p>Tu ingrediente es una Naranja?</p>
											<input type=button value="Hacer otra foto" onClick="changeButtons()">
											<input type=button value="Añadir" onClick="">
										</div>
								  </div>
								</div>
								<li><button class="btn btn-secondary" id="buttonSin" type="button" value="2">No quiero buscar por ingrediente</button></li>
							</ul>
						</footer>
					</section>

				<!-- Footer -->
					<footer id="footer">
						<ul class="copyright">
							<li>Daniel Ortiz</li><li>Sergio González</li><li>Alicia Merayo</li><li>Disponible en: <a href="https://github.com/daniOrtiz11/Leftovers">Github</a></li>
						</ul>
					</footer>

			</div>

		<!-- Scripts -->
	<script>

		if ('addEventListener' in window) {
			window.addEventListener('load', function() { document.body.className = document.body.className.replace(/\bis-loading\b/, ''); });
			document.body.className += (navigator.userAgent.match(/(MSIE|rv:11\.0)/) ? ' is-ie' : '');
		}

	$( "#buttonSin" ).click(function() {
		window.location = '/principal?modo=' + 2;
	});
	$( "#buttonCon" ).click(function() {
		window.location = '/principal?modo=' + 1;
	});
	
		// Get the modal
	var modal = document.getElementById('myModal');

	// Get the <span> element that closes the modal
	var span = document.getElementsByClassName("close")[0];

	// When the user clicks on the button, open the modal 
	function blockModal() {
		modal.style.display = "block";
		Webcam.set({
				width: 400,
				height: 240,
				image_format: 'jpeg',
				jpeg_quality: 90
		});
		Webcam.attach( '#my_camera' );
	}
	
	function changeButtons(){
		document.getElementById('answer').style.display = "none";
		document.getElementById('photo').style.display = "block";
		Webcam.unfreeze();
	}

	// When the user clicks on <span> (x), close the modal
	span.onclick = function() {
		modal.style.display = "none";
	}

	// When the user clicks anywhere outside of the modal, close it
	window.onclick = function(event) {
		if (event.target == modal) {
			modal.style.display = "none";
		}
	}
	
	function take_snapshot() {
				// take snapshot and get image data
				Webcam.snap( function(data_uri) {
					// display results in page
					/*document.getElementById('results').innerHTML = 
						'<h2>Here is your image:</h2>' + 
						'<img src="'+data_uri+'"/>';*/
								Webcam.set({
				width: 400,
				height: 240,
				image_format: 'jpeg',
				jpeg_quality: 90
		});
					Webcam.freeze();
					document.getElementById('answer').style.display = "block";
					document.getElementById('photo').style.display = "none";
					data = data_uri;
					$.get( "/image", { imagen: data_uri}, function(data){
						alert(JSON.stringify(data));
						
						
						
					});
					//Comparación con objeto de ingredientes
					/*
					
					*/
	})
	}
		
	</script>

	</body>
	
	<!--
	Based on the template of:
	html5up.net | @ajlkn
	Free for personal and commercial use under the CCA 3.0 license (html5up.net/license)
	-->
</html>