<!DOCTYPE HTML>
<html>
	<head>
		<title>Leftovers | Home</title>
		<meta charset="UTF-8"/> 
		<link rel="icon" href="images/avatarfavicon.png" type="image/gif">
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		<link rel="stylesheet" href="stylesheets/home/assets/css/main.css" />
		<link rel="stylesheet" href="stylesheets/home/assets/css/modal.css" />
		<noscript><link rel="stylesheet" href="stylesheets/home/assets/css/noscript.css" /></noscript>
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
		<script src="https://code.jquery.com/jquery-1.12.4.js"></script>
		<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
		<link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css" integrity="sha384-rwoIResjU2yc3z8GV/NPeZWAv56rSmLldC3R/AZzGRnGxQQKnKkoFVhFQhNUwEyJ" crossorigin="anonymous">
		<!-- First, include the Webcam.js JavaScript Library -->
		<script type="text/javascript" src="./webcam.min.js"></script>
												<!-- Configure a few settings and attach camera -->
	</head>
	<body class="is-loading">
		<!-- Wrapper -->
			<div id="wrapper">

				<!-- Main -->
					<section id="main">
						<header>
							<span class="avatar"><img src="images/avatar.jpg" alt="" /></span>
							<h1>Leftovers</h1>
							<p>¿Qué comemos hoy?</p>
						</header>
						<footer>
							<ul class="icons">
								<li><div class="input-group">
									  <span class="input-group-btn">
										<button id="buttonCon" class="btn btn-secondary" type="button" value="1">Buscar!</button>
									  </span>
									  <label for="textIngred"></label>
									  <input id="textIngred"type="text" class="form-control" placeholder="Ingredientes...">
									</div>
								</li>
								<br>
								<li><a id="myBtn" href="#" class="fa-camera" onclick="blockModal()">Buscar</a></li><br>
								<li><button class="btn btn-secondary" id="buttonSin" type="button" value="2">No quiero buscar por ingrediente</button></li>
							</ul>
						</footer>
					</section>
                                <div id="myModal" class="modal">
                                      <!-- Modal content -->
                                    <div class="row">
                                        <div class="col-md-3"></div>
                                        <div class="modal-content col-md-6">
                                            <div class="modal-header">
                                              <h3 class="modal-title">Captura el ingrediente!</h3>
                                                <span class="close" aria-hidden="true">&times;</span>
                                            </div>
                                            <div class="modal-body row">
                                                <div class="col-md-2"></div>
                                                <div id="my_camera" class="col-md-8"></div>
                                                <div class="col-md-2"></div>
                                            </div>
                                            <div class="modal-footer">
                                                <div id="photo">
                                                    <input type=button value="Hacer foto" onClick="take_snapshot()">
                                                </div>

                                                <div id="answer" style=display:none>
                                                <center><div id="contenedor" style=display:none>
                                                    <div class="loader" id="loader">Loading...</div>
                                                </div></center>
                                                    <label id="ingrSearch"></label> 
                                                    <input type=button value="Hacer otra foto" onClick="changeButtons()">
                                                    <button id="add" value="Añadir">Añadir</button>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-3"></div>
                                    </div>
                                </div>
				<!-- Footer -->
					<footer id="footer">
						<ul class="copyright">
							<li>Daniel Ortiz</li><li>Sergio González</li><li>Alicia Merayo</li><li>Disponible en: <a href="https://github.com/daniOrtiz11/Leftovers">Github</a></li>
						</ul>
					</footer>

			</div>

		<!-- Scripts -->
	<script>
	//Autocomplete
	var availableTags = [
      "ActionScript",
      "AppleScript",
      "Asp",
      "BASIC",
      "C",
      "C++",
      "Clojure",
      "COBOL",
      "ColdFusion",
      "Erlang",
      "Fortran",
      "Groovy",
      "Haskell",
      "Java",
      "JavaScript",
      "Lisp",
      "Perl",
      "PHP",
      "Python",
      "Ruby",
      "Scala",
      "Scheme"
    ];
    $( "#textIngred" ).autocomplete({
      source: availableTags,
	   change: function (event, ui) {
                if(!ui.item){
                    //http://api.jqueryui.com/autocomplete/#event-change -
                    // The item selected from the menu, if any. Otherwise the property is null
                    //so clear the item for force selection
                    $('#textIngred').val('');
					document.getElementById("buttonCon").disabled = true;
                }
		}
    });
		if ('addEventListener' in window) {
			window.addEventListener('load', function() { document.body.className = document.body.className.replace(/\bis-loading\b/, ''); });
			document.body.className += (navigator.userAgent.match(/(MSIE|rv:11\.0)/) ? ' is-ie' : '');
		}

	$( "#buttonSin" ).click(function() {
		window.location = '/principal?modo=' + 2;
	});
	$( "#buttonCon" ).click(function() {
		window.location = '/principal?modo=' + 1+'&ing='+document.getElementById('textIngred').value;
	});
	
	$("#textIngred").on("input", function() {
		if($('#textIngred').val() == ''){
			document.getElementById("buttonCon").disabled = true;
		} else{
			document.getElementById("buttonCon").disabled = false;
		}
	});
	
	
	var ingrediente = "";
	$( "#add" ).click(function() {
		window.location = '/principal?modo='+1+'&ing='+ingrediente;
	});
		// Get the modal
	var modal = document.getElementById('myModal');

	// Get the <span> element that closes the modal
	var span = document.getElementsByClassName("close")[0];
	document.getElementById("add").disabled = true;
	document.getElementById("buttonCon").disabled = true;
	// When the user clicks on the button, open the modal 
	function blockModal() {
		modal.style.display = "block";
		Webcam.set({
				width: 440,
				height: 300,
				image_format: 'jpeg',
				jpeg_quality: 90
		});
		Webcam.attach( '#my_camera' );
	}
	
	function changeButtons(){
		document.getElementById('answer').style.display = "none";
		document.getElementById('photo').style.display = "block";
		document.getElementById('ingrSearch').innerHTML = "";
		document.getElementById("add").disabled = true;
		Webcam.unfreeze();
	}

	// When the user clicks on <span> (x), close the modal
	span.onclick = function() {
		modal.style.display = "none";
	}

	// When the user clicks anywhere outside of the modal, close it
	window.onclick = function(event) {
		if (event.target == modal) {
			modal.style.display = "none";
		}
	}
	
	function take_snapshot() {
	
	var ingrVision;
	var ingrBD;
				// take snapshot and get image data
				Webcam.snap( function(data_uri) {
					// display results in page
					/*document.getElementById('results').innerHTML = 
						'<h2>Here is your image:</h2>' + 
						'<img src="'+data_uri+'"/>';*/
				Webcam.set({
					width: 440,
					height: 300,
					image_format: 'jpeg',
					jpeg_quality: 90
				});
					Webcam.freeze();
					document.getElementById('contenedor').style.display = "block";
					document.getElementById('answer').style.display = "block";
					document.getElementById('photo').style.display = "none";
					//data = data_uri;
					
					$.get( "/ingr", {}, function(data){
						//alert(JSON.stringify(data[0].nombre.toLowerCase()));
						ingrBD = data;
						//alert(obj);
					});
					
					$.get( "/image", {imagen:data_uri}, function(data){
						//alert(JSON.stringify(data));
						ingrVision = data;
						//alert(obj);
						var i = 0;
						var ok = false;
						while (i < ingrVision.length && !ok) { 
							var j = 0;
							while(j < ingrBD.length && !ok){
								if((ingrVision[i].toLowerCase()) == (ingrBD[j].nombre.toLowerCase())){
									ok = true;
									ingrediente = ingrVision[i];
								}
								j++;
							}
							i++;
						}
						document.getElementById('contenedor').style.display = "none";
						if(ingrediente != ""){ 
							document.getElementById('ingrSearch').innerHTML = 'Tu ingrediente es...' + ingrediente + '!';
							document.getElementById("add").disabled = false;
						}else{ 
							document.getElementById('ingrSearch').innerHTML = 'No lo reconocemos..haz otra foto!';
						}
					});
					//Comparación con objeto de ingredientes
	})
	}
		
	</script>

	</body>
	
	<!--
	Based on the template of:
	html5up.net | @ajlkn
	Free for personal and commercial use under the CCA 3.0 license (html5up.net/license)
	-->
</html>