<!DOCTYPE HTML>

<html>
	<head>
		<title>Leftovers | Principal</title>
		<meta charset="utf-8" />
        <link rel="stylesheet" href="stylesheets/style.css" />
		<link rel="icon" href="images/avatarfavicon.png" type="image/gif">
		<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
		<link rel="stylesheet" href="stylesheets/main/assets/css/main.css" />
		<noscript><link rel="stylesheet" href="stylesheets/main/assets/css/noscript.css" /></noscript>
        <link rel="stylesheet" href="stylesheets/main/assets/css/modal.css" />
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css" integrity="sha384-rwoIResjU2yc3z8GV/NPeZWAv56rSmLldC3R/AZzGRnGxQQKnKkoFVhFQhNUwEyJ" crossorigin="anonymous">
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

		<script type="text/javascript" src="./webcam.min.js"></script>
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.13/css/all.css" integrity="sha384-DNOHZ68U8hZfKXOrtjWvjxusGo9WQnrNx2sqG0tfsghAvtVlRW3tvkXWZh58N9jp" crossorigin="anonymous">
	</head>
	<body class="is-loading">

		<!-- Wrapper -->
			<div id="wrapper" class="fade-in">

				<!-- Intro -->

				<!-- Header -->
					<header id="header">
						<p  class="logo"> Leftovers</p>
					</header>

				<!-- Nav -->
					<nav id="nav">
						<ul class="links">
							<li class="active"><a href="index.html"><span  class="fas fa-utensils"></span> Recetas</a></li>
							<li><a href="principalFiltros">Filtros</a></li>
						</ul>
						<ul class="icons">							
								<li><div class="input-group">
									  <span  class="input-group-btn">
										<button  id="buttonCon" class="btn btn-secondary" type="button" value="1" onclick="addRow(0)" ><span  class="icon fa-plus"></span></button>
									  </span>
									  <label for="textIngred"></label>
									  <input id="textIngred"type="text" class="form-control" placeholder="Ingredientes..." style="color: #212931">
									</div>
								</li>
						</ul>
						<ul class="icons">
                            <li id="fakeicon" style="opacity: 0"><a class="icon fa-camera"><span class="label">Camera</span></a></li>
							<li><a href="#" class="icon fa-camera" onclick="blockModal()"><span class="label">Camera</span></a></li>
						</ul>
					</nav>

				<!-- Main -->
					<div id="main">
							<div id="myModal" class="modal">
								  <!-- Modal content -->
                                <div class="row">
                                    <div class="col-md-3"></div>
                                    <div class="modal-content col-md-6">
                                        <div class="modal-header">
                                          <h3 class="modal-title">Captura el ingrediente!</h3>
                                            <span class="close" aria-hidden="true">&times;</span>
                                        </div>
                                        <div class="modal-body row">
                                            <div class="col-md-2"></div>
                                            <div id="my_camera" class="col-md-8"></div>
                                            <div class="col-md-2"></div>
                                        </div>
                                        <div class="modal-footer">
                                            <div id="photo">
                                                <input type=button value="Hacer foto" onClick="take_snapshot()">
                                            </div>

                                            <div id="answer" style=display:none>
                                            <center><div id="contenedor" style=display:none>
												<div class="loader" id="loader">Loading...</div>
											</div></center>
                                                <label id="ingrSearch"></label>
                                                <input type=button value="Hacer otra foto" onClick="changeButtons()">
                                                <button id="add" value="Añadir" onClick="addRow(1)">Añadir</button>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-3"></div>
                                </div>
							</div>
							
						<!-- Featured Post -->
							<article class="post featured" >
								<header class="major">
									<div id="divTabIng" class="table-wrapper" style=display:none>
										<table id="tableIngAdd">
											<thead>
												<tr>
													<th><span  class="fas fa-lemon"></span> Ingredientes añadidos:</th>
												</tr>
											</thead>
											<tbody>
											</tbody>
										</table>
									</div>
									<div id="divTabFil" class="table-wrapper" style=display:none>
										<table id="tableFiltros">
											<thead>
												<tr>
													<th><span  class="fas fa-lemon"></span> Filtros escogidos:</th>
												</tr>
											</thead>
											<tbody>
											</tbody>
										</table>
									</div>
									<span ><label id="recIng"></label></span><br>
									<hr>
									<h2><a id="title0" value="" href="#" onclick="linkarReceta(0);return false;">No hay recetas con esos ingredientes</a></h2>
								</header>
								<a href="#" class="image main"><img id="image0" src="images/main/default.jpg" alt="" /></a>
								<ul class="actions">
									<li><a id="rec0" value="" href="#" class="button big" onclick="linkarReceta(0);return false;">Ver más</a></li>
								</ul>
							</article>

						<!-- Posts -->
							<section class="posts">
								<article id="art1" name="art1" style=display:none>
									<header>
										<h2><a id="title1" value="" href="#" onclick="linkarReceta(1);return false;">Sed magna<br />
										ipsum faucibus</a></h2>
									</header>
									<a href="#" class="image fit"><img id="image1" src="images/main/default.jpg" alt="" /></a>
									<ul class="actions">
										<li><a id="rec1" value="" href="#" class="button" onclick="linkarReceta(1);return false;">Ver más</a></li>
									</ul>
								</article>
								<article id="art2" name="art2" style=display:none>
									<header>
										<h2><a id="title2" href="#" onclick="linkarReceta(2);return false;">Primis eget<br />
										imperdiet lorem</a></h2>
									</header>
									<a href="#" class="image fit"><img id="image2" src="images/main/default.jpg" alt="" /></a>
									<ul class="actions">
										<li><a id="rec2" value="" href="#" class="button" onclick="linkarReceta(2);return false;">Ver más</a></li>
									</ul>
								</article>
								<article id="art3" name="art3" style=display:none>
									<header>
										<h2><a id="title3" href="#" onclick="linkarReceta(3);return false;">Ante mattis<br />
										interdum dolor</a></h2>
									</header>
									<a href="#" class="image fit"><img id="image3" src="images/main/default.jpg" alt="" /></a>
									<ul class="actions">
										<li><a id="rec3" value="" href="#" class="button" onclick="linkarReceta(3);return false;">Ver más</a></li>
									</ul>
								</article>
								<article id="art4" name="art4" style=display:none>
									<header>
										<h2><a id="title4" href="#" onclick="linkarReceta(4);return false;">Tempus sed<br />
										nulla imperdiet</a></h2>
									</header>
									<a href="#" class="image fit"><img id="image4" src="images/main/default.jpg" alt="" /></a>
									<ul class="actions">
										<li><a id="rec4" value="" href="#" class="button" onclick="linkarReceta(4);return false;">Ver más</a></li>
									</ul>
								</article>
								<article id="art5" name="art5" style=display:none>
									<header>
										<h2><a id="title5" name="art5" href="#" onclick="linkarReceta(5);return false;">Odio magna<br />
										sed consectetur</a></h2>
									</header>
									<a href="#" class="image fit"><img id="image5" src="images/main/default.jpg" alt="" /></a>
									<ul class="actions">
										<li><a id="rec5" value="" href="#" class="button" onclick="linkarReceta(5);return false;">Ver más</a></li>
									</ul>
								</article>
								<article id="art6" name="art6" style=display:none>
									<header>
										<h2><a id="title6" href="#" onclick="linkarReceta(6);return false;">Augue lorem<br />
										primis vestibulum</a></h2>
									</header>
									<a value="" href="#" class="image fit"><img id="image6" src="images/main/default.jpg" alt="" /></a>
									<ul class="actions">
										<li><a id="rec6" value="" href="#" class="button" onclick="linkarReceta(6);return false;">Ver más</a></li>
									</ul>
								</article>
							</section>

						<!-- Footer -->
							<!--<footer>
								<div class="pagination">
									<!--<a href="#" class="previous">Prev</a>
									<a href="#" class="page active">1</a>
									<a href="#" class="page">2</a>
									<a href="#" class="page">3</a>
									<span class="extra">&hellip;</span>
									<a href="#" class="page">8</a>
									<a href="#" class="page">9</a>
									<a href="#" class="page">10</a>
									<a href="#" class="next">Next</a>
								</div>
							</footer>-->

					</div>

			</div>

		<!-- Scripts -->
			<script src="stylesheets/main/assets/js/jquery.min.js"></script>
			<script src="stylesheets/main/assets/js/jquery.scrollex.min.js"></script>
			<script src="stylesheets/main/assets/js/jquery.scrolly.min.js"></script>
			<script src="stylesheets/main/assets/js/skel.min.js"></script>
			<script src="stylesheets/main/assets/js/util.js"></script>
			<script src="stylesheets/main/assets/js/main.js"></script>
			<script src="https://code.jquery.com/jquery-1.12.4.js"></script>
			<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
			<link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">

	<script>
	//Autocomplete
	var availableTags = [
      "ActionScript",
      "AppleScript",
      "Asp",
      "BASIC",
      "C",
      "C++",
      "Clojure",
      "COBOL",
      "ColdFusion",
      "Erlang",
      "Fortran",
      "Groovy",
      "Haskell",
      "Java",
      "JavaScript",
      "Lisp",
      "Perl",
      "PHP",
      "Python",
      "Ruby",
      "Scala",
      "Scheme"
    ];
    $( "#textIngred" ).autocomplete({
      source: availableTags,
	   change: function (event, ui) {
                if(!ui.item){
                    //http://api.jqueryui.com/autocomplete/#event-change -
                    // The item selected from the menu, if any. Otherwise the property is null
                    //so clear the item for force selection
                    $('#textIngred').val('');
					document.getElementById("buttonCon").disabled = true;
                }
		}
    });
	
	var arrayIng = [];
	var ingredCamera;
	var url_string = $(location).attr('href');
	var url = new URL(url_string);
	var modo = url.searchParams.get("modo");
	var filtros = url.searchParams.get("filtros");
	var ingrediente = url.searchParams.get("ing");
	//document.getElementById("recIng").innerHTML= "Recetas con: " + ingrediente;
	//document.getElementById("recIng").innerHTML= "Recetas:";
	var table = document.getElementById("tableIngAdd");
	document.getElementById("buttonCon").disabled = true;
	document.getElementById('divTabIng').style.display = "block";
	//console.log(ingrediente);
	if(ingrediente != null){
		arrayIng.push(ingrediente);
		var row = table.insertRow(1);
		var cell1 = row.insertCell(0);
		var cell2 = row.insertCell(1);
		cell1.innerHTML = ingrediente;
		cell2.innerHTML = '<input type="button" value="eliminar" onclick="deleteRow(1)" />';
		getRecetas(arrayIng);
	} else {
		if(modo==3){
			document.getElementById('divTabIng').style.display = "none";
			document.getElementById('divTabFil').style.display = "block";
			var tableAux = document.getElementById("tableFiltros");
			var row = tableAux.insertRow(1);
			var cell1 = row.insertCell(0);
			var cell2 = row.insertCell(1);
			cell1.innerHTML = "Dificultad: ";
			cell2.innerHTML = filtros.split(',')[0];
			row = tableAux.insertRow(2);
			cell1 = row.insertCell(0);
			cell2 = row.insertCell(1);
			cell1.innerHTML = "Tiempo de preparación: ";
			cell2.innerHTML = filtros.split(',')[1];
			row = tableAux.insertRow(3);
			cell1 = row.insertCell(0);
			cell2 = row.insertCell(1);
			cell1.innerHTML = "Número de comensales: ";
			cell2.innerHTML = filtros.split(',')[2];
			getRecetasWithFilters(filtros);
		} else{
			getRecetasWithout();
		}
	}
	if ('addEventListener' in window) {
		window.addEventListener('load', function() { document.body.className = document.body.className.replace(/\bis-loading\b/, ''); });
		document.body.className += (navigator.userAgent.match(/(MSIE|rv:11\.0)/) ? ' is-ie' : '');
	}
	
	$("#textIngred").on("input", function() {
		if($('#textIngred').val() == ''){
			document.getElementById("buttonCon").disabled = true;
		} else{
			document.getElementById("buttonCon").disabled = false;
		}
	});

		// Get the modal
	var modal = document.getElementById('myModal');

	// Get the <span> element that closes the modal
	var span = document.getElementsByClassName("close")[0];
	document.getElementById("add").disabled = true;
	// When the user clicks on the button, open the modal 
	function blockModal() {
		modal.style.display = "block";
		Webcam.set({
				width: 440,
				height: 300,
				image_format: 'jpeg',
				jpeg_quality: 90
		});
		Webcam.attach( '#my_camera' );
	}
	
	function changeButtons(){
		document.getElementById('answer').style.display = "none";
		document.getElementById('photo').style.display = "block";
		document.getElementById('ingrSearch').innerHTML = "";
		document.getElementById("add").disabled = true;
		Webcam.unfreeze();
	}

	// When the user clicks on <span> (x), close the modal
	span.onclick = function() {
		modal.style.display = "none";
	}

	// When the user clicks anywhere outside of the modal, close it
	window.onclick = function(event) {
		if (event.target == modal) {
			modal.style.display = "none";
		}
	}
	
	function take_snapshot() {
	
	var ingrVision;
	var ingrBD;
				// take snapshot and get image data
				Webcam.snap( function(data_uri) {
					// display results in page
					/*document.getElementById('results').innerHTML = 
						'<h2>Here is your image:</h2>' + 
						'<img src="'+data_uri+'"/>';*/
				Webcam.set({
				width: 440,
				height: 300,
				image_format: 'jpeg',
				jpeg_quality: 90
				});
					Webcam.freeze();
					document.getElementById('contenedor').style.display = "block";
					document.getElementById('answer').style.display = "block";
					document.getElementById('photo').style.display = "none";
					//data = data_uri;
					
					$.get( "/ingr", {}, function(data){
						//alert(JSON.stringify(data));
						ingrBD = data;
						//alert(data);
					});
					
					$.get( "/image", {imagen:data_uri}, function(data){
						//alert(JSON.stringify(data));
						ingrVision = data;
						//alert(ingrVision);
						var i = 0;
						var ok = false;
						var ingrediente = "";
						while (i < ingrVision.length && !ok) { 
							var j = 0;
							while(j < ingrBD.length && !ok){
								if((ingrVision[i].toLowerCase()) == (ingrBD[j].nombre.toLowerCase())){
									ok = true;
									ingrediente = ingrVision[i];
								}
								j++;
							}
							i++;
						}
						document.getElementById('contenedor').style.display = "none";
						if(ingrediente != ""){ 
							document.getElementById('ingrSearch').innerHTML = 'Tu ingrediente es...' + ingrediente + '!';
							ingredCamera = ingrediente;
							document.getElementById("add").disabled = false;
						}else{ 
							document.getElementById('ingrSearch').innerHTML = 'No lo reconocemos..haz otra foto!';
						}
					});
					//Comparación con objeto de ingredientes
	})
	}
	
	// Linkar cada receta con su página
	
	function getRecetas(arrayIngred){
	
		initRecetas();
		$.get( "/recipes", {ing:arrayIng}, function(data){
		// Recetas en data.recetasSoloEsosIngredientes /// data.recetasAlgunoMas
			//alert(data.recetasSoloEsosIngredientes);
			//alert(data.recetasAlgunoMas);
			for(var i=0;i < data.recetasSoloEsosIngredientes.length;i++){
				document.getElementById("rec0").style.display = "block";
				document.getElementById("rec"+i).value = data.recetasSoloEsosIngredientes[i];
				document.getElementById("title"+i).innerHTML = data.recetasSoloEsosIngredientes[i].titulo;
				document.getElementById("image"+i).src= data.recetasSoloEsosIngredientes[i].multimedia;
				if(i>0)
					document.getElementsByName("art"+i).style.display = "block";
			}
			var j = data.recetasSoloEsosIngredientes.length;
			var i = 0;
			var k = 7-j;
			var numReces = data.recetasAlgunoMas.length;
			while((i < k) && numReces > 0){
				document.getElementById("rec0").style.display = "block";
				document.getElementById("rec"+j).value = data.recetasAlgunoMas[i];
				document.getElementById("title"+j).innerHTML = data.recetasAlgunoMas[i].titulo;
				document.getElementById("image"+j).src= data.recetasAlgunoMas[i].multimedia;
				if(j>0)
					document.getElementsByName("art"+j)[0].style.display = "block";
				j++;
				i++;
				numReces--;
			}
		});
	}
	
	function getRecetasWithout(){
		initRecetas();
		$.get( "/recipesWithout", {}, function(data){
				for(var i=0;i < 7;i++){
					document.getElementById("rec0").style.display = "block";
					document.getElementById("rec"+i).value = data[i];
					document.getElementById("title"+i).innerHTML = data[i].titulo;
					document.getElementById("image"+i).src= data[i].multimedia;
					if(i>0)
						document.getElementsByName("art"+i)[0].style.display = "block";
				}
			});
	}
	
	function getRecetasWithFilters(filtros){
		initRecetas();
		document.getElementById("title0").innerHTML = "No hay recetas con esos filtros";
		$.get( "/recipesWithFilters", {filtros}, function(data){
			var length = data.recetasCompletas.length;
			if(length > 7) length = 7;
				for(var i=0;i < length;i++){
					document.getElementById("rec0").style.display = "block";
					document.getElementById("rec"+i).value = data.recetasCompletas[i];
					document.getElementById("title"+i).innerHTML = data.recetasCompletas[i].titulo;
					document.getElementById("image"+i).src= data.recetasCompletas[i].multimedia;
					if(i>0)
						document.getElementsByName("art"+i)[0].style.display = "block";
				}
			});
	}
	
	function initRecetas(){
		document.getElementById("rec0").style.display = "none";
		document.getElementById("title0").innerHTML = "No hay recetas con esos ingredientes";
		document.getElementById("image0").src= "";
		for(var i = 1; i < 7; i++){
			document.getElementsByName("art"+i)[0].style.display = "none";
		}
	}
	
	function linkarReceta(numReceta){
		//dicc.serializeArray();
		var dic = JSON.stringify(document.getElementById("rec"+numReceta).value);
		window.location = '/receta?recipe=' + dic;
	}
	
	function addRow(mode){
		document.getElementById('divTabIng').style.display = "block";
		document.getElementById('divTabFil').style.display = "none";
		var ingred;
		if(mode == 0){
			ingred = document.getElementById('textIngred').value;
			document.getElementById("textIngred").value = "";
		}else {
			ingred = ingredCamera;
			modal.style.display = "none";
		}
		arrayIng.push(ingred);
		var numRows = document.getElementById("tableIngAdd").getElementsByTagName("tr").length;
		var row = table.insertRow(numRows);
		var cell1 = row.insertCell(0);
		var cell2 = row.insertCell(1);
		cell1.innerHTML = ingred;
		var str ='<input type="button" value="eliminar" onclick="deleteRow('+numRows+')" />'
		cell2.innerHTML = str;
		
		getRecetas(arrayIng);
	}
	
	function deleteRow(n){
		table.deleteRow(n);
		var numRows = document.getElementById("tableIngAdd").getElementsByTagName("tr").length;
		//Eliminar del array y actualizar.
		arrayIng.splice(n-1, 1);
		if(numRows < 2) getRecetasWithout();
		else getRecetas(arrayIng);
	}
	</script>
	</body>
		<!--
	Based on the template of:
	html5up.net | @ajlkn
	Free for personal and commercial use under the CCA 3.0 license (html5up.net/license)
	-->
</html>