<!DOCTYPE HTML>

<html>
	<head>
		<title>Leftovers | Principal</title>
		<meta charset="utf-8" />
		<link rel="icon" href="images/avatarfavicon.png" type="image/gif">
		<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
		<link rel="stylesheet" href="stylesheets/main/assets/css/main.css" />
		<noscript><link rel="stylesheet" href="stylesheets/main/assets/css/noscript.css" /></noscript>
	</head>
	<body class="is-loading">

		<!-- Wrapper -->
			<div id="wrapper" class="fade-in">

				<!-- Intro -->

				<!-- Header -->
					<header id="header">
						<p  class="logo">Leftovers</p>
					</header>

				<!-- Nav -->
					<nav id="nav">
						<ul class="links">
							<li class="active"><a href="index.html">Recetas</a></li>
							<li><a href="generic.html">Filtros</a></li>
						</ul>
						<ul class="icons">
							<li><a href="#" class="icon fa-camera"><span class="label">Camera</span></a></li>
						</ul>
					</nav>

				<!-- Main -->
					<div id="main">

						<!-- Featured Post -->
							<article class="post featured">
								<header class="major">
									<span ><em>Recetas con: Nombre_Ingrediente</em></span><br>
									<hr>
									<h2><a href="#">Nombre_Receta_principal</a></h2>
									<p>Descripción_Receta_Principal: Lorem ipsum dolor sit amet, consectetuer adipiscing elit. 
									Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis 
									parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies nec, pellentesque eu, 
									pretium quis, sem. Nulla consequat massa quis enim. </p>
								</header>
								<a href="#" class="image main"><img src="images/main/default.jpg" alt="" /></a>
								<ul class="actions">
									<li><a href="#" class="button big">Ver más</a></li>
								</ul>
							</article>

						<!-- Posts -->
							<section class="posts">
								<article>
									<header>
										<h2><a href="#">Sed magna<br />
										ipsum faucibus</a></h2>
									</header>
									<a href="#" class="image fit"><img src="images/main/default.jpg" alt="" /></a>
									<p>Donec eget ex magna. Interdum et malesuada fames ac ante ipsum primis in faucibus. Pellentesque venenatis dolor imperdiet dolor mattis sagittis magna etiam.</p>
									<ul class="actions">
										<li><a href="#" class="button">Ver más</a></li>
									</ul>
								</article>
								<article>
									<header>
										<h2><a href="#">Primis eget<br />
										imperdiet lorem</a></h2>
									</header>
									<a href="#" class="image fit"><img src="images/main/default.jpg" alt="" /></a>
									<p>Donec eget ex magna. Interdum et malesuada fames ac ante ipsum primis in faucibus. Pellentesque venenatis dolor imperdiet dolor mattis sagittis magna etiam.</p>
									<ul class="actions">
										<li><a href="#" class="button">Ver más</a></li>
									</ul>
								</article>
								<article>
									<header>
										<h2><a href="#">Ante mattis<br />
										interdum dolor</a></h2>
									</header>
									<a href="#" class="image fit"><img src="images/main/default.jpg" alt="" /></a>
									<p>Donec eget ex magna. Interdum et malesuada fames ac ante ipsum primis in faucibus. Pellentesque venenatis dolor imperdiet dolor mattis sagittis magna etiam.</p>
									<ul class="actions">
										<li><a href="#" class="button">Ver más</a></li>
									</ul>
								</article>
								<article>
									<header>
										<h2><a href="#">Tempus sed<br />
										nulla imperdiet</a></h2>
									</header>
									<a href="#" class="image fit"><img src="images/main/default.jpg" alt="" /></a>
									<p>Donec eget ex magna. Interdum et malesuada fames ac ante ipsum primis in faucibus. Pellentesque venenatis dolor imperdiet dolor mattis sagittis magna etiam.</p>
									<ul class="actions">
										<li><a href="#" class="button">Ver más</a></li>
									</ul>
								</article>
								<article>
									<header>
										<h2><a href="#">Odio magna<br />
										sed consectetur</a></h2>
									</header>
									<a href="#" class="image fit"><img src="images/main/default.jpg" alt="" /></a>
									<p>Donec eget ex magna. Interdum et malesuada fames ac ante ipsum primis in faucibus. Pellentesque venenatis dolor imperdiet dolor mattis sagittis magna etiam.</p>
									<ul class="actions">
										<li><a href="#" class="button">Ver más</a></li>
									</ul>
								</article>
								<article>
									<header>
										<h2><a href="#">Augue lorem<br />
										primis vestibulum</a></h2>
									</header>
									<a href="#" class="image fit"><img src="images/main/default.jpg" alt="" /></a>
									<p>Donec eget ex magna. Interdum et malesuada fames ac ante ipsum primis in faucibus. Pellentesque venenatis dolor imperdiet dolor mattis sagittis magna etiam.</p>
									<ul class="actions">
										<li><a href="#" class="button">Ver más</a></li>
									</ul>
								</article>
							</section>

						<!-- Footer -->
							<footer>
								<div class="pagination">
									<!--<a href="#" class="previous">Prev</a>-->
									<a href="#" class="page active">1</a>
									<a href="#" class="page">2</a>
									<a href="#" class="page">3</a>
									<span class="extra">&hellip;</span>
									<a href="#" class="page">8</a>
									<a href="#" class="page">9</a>
									<a href="#" class="page">10</a>
									<a href="#" class="next">Next</a>
								</div>
							</footer>

					</div>

			</div>

		<!-- Scripts -->
			<script src="stylesheets/main/assets/js/jquery.min.js"></script>
			<script src="stylesheets/main/assets/js/jquery.scrollex.min.js"></script>
			<script src="stylesheets/main/assets/js/jquery.scrolly.min.js"></script>
			<script src="stylesheets/main/assets/js/skel.min.js"></script>
			<script src="stylesheets/main/assets/js/util.js"></script>
			<script src="stylesheets/main/assets/js/main.js"></script>

	</body>
		<!--
	Based on the template of:
	html5up.net | @ajlkn
	Free for personal and commercial use under the CCA 3.0 license (html5up.net/license)
	-->
</html>