<!DOCTYPE HTML>

<html>
	<head>
		<title>Leftovers | Receta</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
        <link rel="icon" href="images/avatarfavicon.png" type="image/gif">
		<link rel="stylesheet" href="stylesheets/main/assets/css/main.css" />
		<noscript><link rel="stylesheet" href="stylesheets/main/assets/css/noscript.css" /></noscript>
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.13/css/all.css" integrity="sha384-DNOHZ68U8hZfKXOrtjWvjxusGo9WQnrNx2sqG0tfsghAvtVlRW3tvkXWZh58N9jp" crossorigin="anonymous">
	</head>
	<body class="is-loading">

		<!-- Wrapper -->
			<div id="wrapper">

				<!-- Header -->
					<header id="header">
						<a href="/" class="logo">Leftovers</a>
					</header>
					<nav id="nav">
							<span class="input-group-btn">
									<button  id="buttonCon" class="btn btn-secondary" type="button" value="1" onclick="javascript:history.back(-1)" style="margin-left: 1030px">Volver</button>
							</span>
					</nav>
				<!-- Main -->
					<div id="main">

						<!-- Post -->
							<section class="post">
								<header class="major">
                                    <h1 id="title">Título de la receta</h1>
									<!--<h1><label id="title">Título de la receta</label></h1>-->
								</header>

								<!-- Text stuff -->
									<h2><span class="icon fa-image"></span> Pinta que debería tener</h2>
                                    <a href="#" class="image main"><img id="image" src="images/main/default.jpg" alt="" /></a>
									<hr />
                                    <h2><span class="icon fa-info-circle"></span> Detalles </h2>
                                    <ul>
                                        <li><label id="nPersonas">Nº de comensales</label></li>
                                        <li><label id="duracion">Tiempo</label></li>
                                        <li><label id="dificultad">Dificultad</label></li>
                                    </ul>
                                    <hr />
                                    <h2><i class="icon fas fa-lemon"></i> Ingredientes</h2>
									<div class="table-wrapper">
										<table id="tableIng">
											<thead>
												<tr>
													<th>Ingrediente</th>
													<th>Cantidad</th>
												</tr>
											</thead>
											<tbody>
											</tbody>
										</table>
									</div>
                                    <h2><span class="icon fa-list-ol"></span> Instrucciones</h2>
                                    <div class="box">
                                    <label id="instrucc">Lorem ipsum dolor sit amet nullam id egestas urna aliquam</label>
                                    </div>

							</section>
					</div>

			</div>

		<!-- Scripts -->
			<script src="stylesheets/main/assets/js/jquery.min.js"></script>
			<script src="stylesheets/main/assets/js/jquery.scrollex.min.js"></script>
			<script src="stylesheets/main/assets/js/jquery.scrolly.min.js"></script>
			<script src="stylesheets/main/assets/js/skel.min.js"></script>
			<script src="stylesheets/main/assets/js/util.js"></script>
			<script src="stylesheets/main/assets/js/main.js"></script>

	<script>
	var url_string = $(location).attr('href');
	var url = new URL(url_string);
	var recipe = url.searchParams.get("recipe");
	var receta = JSON.parse(recipe);

	document.getElementById("title").innerHTML= receta.titulo;
	document.getElementById("image").src= receta.multimedia;
	document.getElementById("nPersonas").innerHTML= "Número de comensales: " + receta.npersonas;
	document.getElementById("duracion").innerHTML= "Tiempo de preparación: " + receta.tiempo + "inutos";
	document.getElementById("dificultad").innerHTML= "Dificultad: "+ receta.dificultad;
	var table = document.getElementById("tableIng");
	for(var i = 0; i<receta.ingredientes.length;i++){
		var ing = JSON.parse(receta.ingredientes[i]);
		var row = table.insertRow(i+1);
		var cell1 = row.insertCell(0);
		var cell2 = row.insertCell(1);
		cell1.innerHTML = ing.nombre;
		cell2.innerHTML = ing.cantidad;
	}
    var instruc = receta.instrucciones.split(".");
    var parseo = "";
    var insLeng = instruc.length;
    for(i = 0; i < insLeng-1; i++){
        var n=i+1;
        parseo = parseo +n+". " + instruc[i] + "<br>" + "<br>";
    }
	document.getElementById("instrucc").innerHTML= parseo;
	</script>
	</body>
	
			<!--
	Based on the template of:
	html5up.net | @ajlkn
	Free for personal and commercial use under the CCA 3.0 license (html5up.net/license)
	-->
</html>